[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #03a9f4;
    background-color: #29b6f6;
    z-index: 0;
}
p{
    margin:5px;
}
.fade-in {
    opacity: 1;
    animation-duration: 0.5s;
    animation-name: fadein;
}
.fade-out {
    opacity: 0;
    animation-duration: 0.5s;
    animation-name: fadeout;
}
.slide-in-left{
    animation-duration: 0.5s;
    animation-name: popup;
}
.slide-out-left{
    animation-duration: 0.5s;
    animation-name: popout;
}
.pop-left{
    animation-duration: 0.5s;
    animation-name: popleft;
}
.login-container {
    background-color: #fff;
    padding-left:10px;
    padding-right:10px;
    position: absolute;
    width: 300px; 
    height: 240px;
    z-index: 1;
}
.login-container > div {
    padding-top:0px;
}
.header {
    position: static;
    height: 50px;
    width: 100%;
}
.logo{
    float: right;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
}
#nav-mobile > ul.left > li > a {
    color: white;
}
ul.left{
    height: 100%;
    margin-top:0px;
}
ul.left > li {
    height: 100%;
    color:white;
    float: right;
    padding-left:10px;
    padding-right:10px;
}
ul.left > li > i {
    margin-top:12px;
}
ul.left > li > div {
    height: 100%;
    float:right; 
    font-size:20px; 
    padding-left:5px; 
    margin-top: 8px;
}
ul.left > li:hover {
    cursor: pointer;
    background-color: #03a9f4;
}
ul.left > li:active {
    cursor: pointer;
    background-color: #29b6f6;
}
.body-div{
    position: absolute;
    top:0px;
    z-index: -1;
    animation-duration: 0.5s;
    animation-name: fadein;
    width: 100%;
    height: 100%;
}
.chat-div{
    padding-top: 50px;
    width:20%;
    height: 100%;
    float: left;
}
textarea{
    resize: none;
}
.chat-srch > input {
    height:30px !important;
    width: 80% !important;
    padding:0px !important;
    margin: 0px !important;
    border: 0px !important;
}
.chat-srch > i {
    height:30px;
    font-size:30px;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chat-entry{
    background-color: #fff;
    width:100%;
    margin-top:5px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:30px;
    padding-left:20px;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chat-entry:hover {
    background-color: #eee;
}
.chat-entry:active {
    background-color: #1da5e4;
}
.chat-entry-active{
    background-color: #1d9eda;
}
.chat-entry-active:hover {
    background-color: #1c97cf;
}
.view-chat-div{
    width:80%;
    height:100%;
    float:left;
}
.view-chat-div > h1 {
    margin-top:20%;
    text-align: center;
    color: #aaa;
}
.send-btn{
    font-size:40px; 
    color:white;
    border:3px solid white;
    margin-left: 10px;
    position: absolute; 
    bottom: 55px; 
    width:12%; 
    height:70px; 
    border-radius:10px;
}
.send-btn:hover {
    cursor: pointer;
    background-color: #1c97cf !important;
}
.send-btn:active{
    background-color: #48c5ff !important;
}
.chat-box-me{
    max-width:80%;
    background-color:white;
    margin:5px;
    float:right;
    border-radius: 10px;
}
.chat-box-other{
    max-width:80%;
    background-color: #92cbe6;
    margin:5px;
    float:left;
    border-radius: 10px;
}
.chat-entry-time{
    color:grey;
    font-size: 12px;
    float:right;
}
#user-menu-container{
    position: absolute;
    top:50px;
    background-color: #fff;
    width:300px;
}
#user-menu-container > div {
    padding:10px;
    font-size: 20px;
    font-weight: bold;
}
#user-menu-container > div:hover{
    background-color: #eee;
    cursor: pointer;
}
#user-menu-container > div:active{
    background-color: #999;
    cursor: pointer;
}
.menu-generic{
    height:100%;
    width: 100%;
    padding-top:50px;
}
.menu-generic > h1 {
    margin: 0px;
    padding-left:20px;
    animation-name: menugenerich1;
    animation-duration: 0.5s;
    background-color: #555;
    font-size:62px;
    color:#fff;
    padding-bottom: 7px;
}
.signup-countainer{
    height:420px;
}
#menu-friend-requests > div > div > h5 {
    text-align:center;
    margin-top:0px;
    padding:4px;
    color:white;
    margin-bottom: 0px;
}
.chatreq-item-div {
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding:10px;
}
.chatreq-item-div > span {
    font-size:20px;
    font-weight: bold;
    margin:0px;
}
.chatreq-item-div > i {
    float: right;
    font-size:27px;
    margin-right:10px;
    font-weight: bold;
}
.chatreq-item-div > i:hover {
    cursor: pointer;
}
.hover-close{
    color:#b62930;
}
.hover-check{
    color:#297630;
}
.hover-close:hover {
    color:#e62930;
}
.hover-check:hover {
    color:#29b630;
}
.req-send-text {
    border-bottom: 1px solid #eee;
    height:51px;
}
.req-send-text > textarea{
    height:47px;
    font-size:20px;
    padding:10px;
    width:80%;
    border:0px none;
}
.req-send-text > i {
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size:44px;
    font-weight: bold;
    float: right;
    margin-top:4px;
    margin-right: 20px;
    color: #297630;
}
.req-send-text > i:hover {
    cursor: pointer;
    color: #29b630;
}
.chatreq-none {
    text-align:center;
    color:#999 !important;
}
#chatreq-err, #chatreq-rej-err{
    color:red;
    text-align: center;
}
@keyframes popup {
    from {
        padding-left:0px;
        padding-right:0px;
        height: 0px;
    }

    to {
        padding-left:10px;
        padding-right:10px;
        /*height: 240px;*/
    }
}
@keyframes popout {
    from {
        padding-left:10px;
        padding-right:10px;
        /*height: 240px;*/
    }

    to {
        padding-left:0px;
        padding-right:0px;
        height: 0px;
    }
}
@keyframes popleft {
    from {
        width:0%;
    }

    to {

    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes menugenerich1{
    from {
        padding-left:0px;
    }
}
@media only screen and (max-width: 600px) {
    .hide-on-mobile{
        display: none;
    }
    .header {
        height: 80px;
    }
    .logo{
        height: 60px;
        margin-top: 10px;
        margin-left: 20px;
    }
    ul.left{
        height: 100%;
        margin-top:0px;
    }
    ul.left > li {
        height: 100%;
        color:white;
        float: right;
        padding-left:5px;
        padding-right:10px;
        margin-top:0px;
    }
    ul.left > li:hover {
        background-color: inherit;
    }
    ul.left > li:active {
        background-color: #03a9f4;
    }
    ul.left > li > i{
        margin-top: 25px;
        font-size:30px;
    }
    ul.left > li > div {
        float:right; 
        font-size:20px; 
        padding-left:5px; 
        margin-top: 25px;
    }
    .login-container {
        padding-left:10px;
        padding-right:10px;
        position: absolute;
        width: 100%; 
        height: 250px;
        z-index: 1;
    }
}
   